<%- include('../partials/header'); -%>

  <main class="main">

    <section class="recipe__grid">

      <% recipes.forEach(recipe=> { %>
        <a href="/recipes/<%=recipe._id%>" class="grid__recipe">
          <article>
            <h3>
              <%=recipe.name%>
            </h3>

            <h4>
              <%=recipe.user.username%>
            </h4>

            <ul class="categories">
              <% recipe.categories.forEach(cat=> { %>
                <li>
                  <%=cat%>
                </li>
                <% })%>
            </ul>

            <p class="desc">
              <%=recipe.description.substr(0, 100)%>
                ...
            </p>

            <h6>
              <%=recipe.likes%>
            </h6>
          </article>
        </a>
        <% }) %>

    </section>

    <%- include('../partials/profile-sidebar'); -%>

  </main>

  <%- include('../partials/footer'); -%>