<%- include('../partials/header'); -%>

  <main class="grid">

    <section class="profile">

      <div class="first__name">
        <h3>First Name:</h3>
        <p>
          <%=user.firstName%>
        </p>
      </div>
      <div class="last__name">
        <h3>Last Name:</h3>
        <p>
          <%=user.lastName%>
        </p>
      </div>
      <div class="username">
        <h3>Username:</h3>
        <p>
          <%=user.username%>
        </p>
      </div>
      <div class="email">
        <h3>Email:</h3>
        <p>
          <%=user.email%>
        </p>
      </div>

    </section>

    <%- include('../partials/profile-sidebar'); -%>

  </main>

  <%- include('../partials/footer'); -%>