<%- include('../partials/header'); -%>

  <main class="main">

    <section class="profile">

      <div class="first__name">
        <h3>First Name:</h3>
        <%=user.firstName%>
      </div>
      <div class="last__name">
        <h3>Last Name:</h3>
        <%=user.lastName%>
      </div>
      <div class="username">
        <h3>Username:</h3>
        <%=user.userame%>
      </div>
      <div class="email">
        <h3>Email:</h3>
        <%=user.email%>
      </div>

    </section>

    <%- include('../partials/profile-sidebar'); -%>

  </main>

  <%- include('../partials/footer'); -%>