<%- include('../partials/header'); -%>

<main class="main">
  <section class="recipe">
    <figure>
      <img src="<%=recipe.image%>" alt="<%=recipe.name%>" />
    </figure>

    <h1><%=recipe.name%></h1>

    <h4>
      <a href="/recipes/users/<%=recipe.user._id%>">
        <%=recipe.user.username%>
      </a>
    </h4>

    <ul class="categories">
      <% recipe.categories.forEach(cat=> { %>
      <li>
        <a href="/recipes/categories/<%=cat%>">#<%=cat%> </a>
      </li>
      <% })%>
    </ul>

    <p class="desc"><%=recipe.description%></p>

    <ul class="ingredients">
      <h5>Ingredients</h5>
      <% recipe.ingredients.forEach(ing=> { %>
      <li><%=ing%></li>
      <% })%>
    </ul>

    <h6 class="likes"><%=recipe.likes%></h6>
    <% if(user) { %>

    <button class="like__btn" type="btn">
      <% if (!recipeLiked.liked) { %> Like <% } else { %> Unlike <%}%>
    </button>

    <div class="content">
      <h5>Recipe</h5>
      <p></p>
    </div>

    <%}%>
  </section>

  <section class="sidebar"></section>

  <% if(user) { %>
  <script>
    async function sendLike() {
      const res = await fetch(
        'http://localhost:5000/recipes/update-likes/<%=recipe._id%>',
        {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ userId: '<%=user._id%>' }),
        }
      );

      const data = await res.json();

      if (data.success) {
        window.location.reload();
      }
    }

    if (!!document.querySelector('.like__btn')) {
      const likeBtn = document.querySelector('.like__btn');

      likeBtn.addEventListener('click', () => {
        sendLike();
      });
    }
  </script>
  <% }%>
</main>

<%- include('../partials/footer'); -%>
