<%- include('../partials/header'); -%>

  <main class="main">

    <section class="recipe">

      <h1>
        <%=recipe.name%>
      </h1>

      <h4>
        <a href="/recipes/users/<%=recipe.user._id%>">
          <%=recipe.user.username%>
        </a>
      </h4>

      <ul class="categories">
        <% recipe.categories.forEach(cat=> { %>
          <li>
            <a href="/recipes/categories/<%=cat%>">
              <%=cat%>
            </a>
          </li>
          <% })%>
      </ul>

      <p class="desc">
        <%=recipe.description%>
      </p>

      <ul class="ingredients">
        <% recipe.ingredients.forEach(ing=> { %>
          <li>
            <%=ing%>
          </li>
          <% })%>
      </ul>

      <h6>
        <%=recipe.likes%>
      </h6>
      <% if(user) { %>
        <button class="like__btn" type="btn">Like</button>
        <%}%>
    </section>

    <section class="sidebar">

    </section>

    <script>
      async function sendLike() {
        const res = await fetch('http://localhost:5000/recipes/add-likes/<%=recipe._id%>', { method: 'PUT' })

        const data = await res.json();

        if (data.success) {
          window.location.reload()
        }
      }

      if (!!document.querySelector('.like__btn')) {
        const likeBtn = document.querySelector('.like__btn')

        likeBtn.addEventListener('click', () => {
          sendLike()
        });
      }
    </script>

  </main>

  <%- include('../partials/footer'); -%>