<%- include('../partials/header'); -%>

  <main class="main">
    <section class="recipe">
      <figure>
        <img src="<%=recipe.image.url%>" alt="<%=recipe.name%>" />
      </figure>

      <h1>
        <%=recipe.name%>
      </h1>

      <h4>
        <a href="/recipes/users/<%=recipe.user._id%>">
          <%=recipe.user.username%>
        </a>
      </h4>

      <ul class="categories">
        <% recipe.categories.forEach(cat=> { %>
          <li>
            <a href="/recipes/categories/<%=cat%>">#<%=cat%> </a>
          </li>
          <% })%>
      </ul>

      <p class="desc">
        <%=recipe.description%>
      </p>

      <ul class="ingredients">
        <h5>Ingredients</h5>
        <% recipe.ingredients.forEach(ing=> { %>
          <li>
            <%=ing%>
          </li>
          <% })%>
      </ul>

      <h6 class="likes">
        <%=recipe.likes%>
      </h6>
      <% if(user) { %>

        <button class="like__btn" type="btn">
          <% if (!recipeLiked.liked) { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#66142f" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
            <% } else { %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#66142f" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
              </svg>
              <%}%>
        </button>

        <% if (currentUser.recipe) { %>
          <button type="button" class="delete__btn">Delete</button>
          <% } %>

            <%}%>


              <div class="content">
                <h5>Recipe</h5>
                <p></p>
              </div>
    </section>

    <section class="sidebar"></section>

    <% if(user) { %>
      <script>
        async function sendLike() {
          const res = await fetch(
            '/recipes/update-likes/<%=recipe._id%>',
            {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ userId: '<%=user._id%>' }),
            }
          );

          const data = await res.json();

          if (data.success) {
            window.location.reload();
          }
        }

        if (!!document.querySelector('.like__btn')) {
          const likeBtn = document.querySelector('.like__btn');

          likeBtn.addEventListener('click', () => {
            sendLike();
          });
        }

        async function deleteRecipe() {
          const res = await fetch(
            '/recipes/delete/<%=recipe._id%>',
            { method: 'DELETE' }
          );

          const data = await res.json();

          if (data.deletedCount) {
            window.location.assign('/recipes');
          } else {
            console.log(data);
          }
        }

        if (!!document.querySelector('.delete__btn')) {
          const btn = document.querySelector('.delete__btn');

          btn.addEventListener('click', () => {
            deleteRecipe();
          });
        }
      </script>
      <% }%>
  </main>

  <%- include('../partials/footer'); -%>